body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Roboto;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
html {
    font-style: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: initial; /* Xoá thuộc tính color */
    text-decoration: initial; /* Xoá thuộc tính text-decoration */
}

li {
    list-style: none;
}
